@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maza-orange: #FF7A00;
  --maza-yellow: #FFB800;
  --maza-pink: #FF8E9E;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-maza-orange: var(--maza-orange);
  --color-maza-yellow: var(--maza-yellow);
  --color-maza-pink: var(--maza-pink);
  --color-secondary: var(--maza-orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Utilities if needed */
.text-secondary {
  color: var(--maza-orange);
}